<awesome-label>{{ label }}</awesome-label>

<ng-content></ng-content>

<div class="awesome-subscript">
  <div *ngIf="showError" [@transitionMessages]="animationState">
    <ng-container *ngFor="let error of errorMessagesArray" ngProjectAs="awesome-key">
      <awesome-error class="error" *ngIf="trackingControl.hasError(error.key)">
        {{ error.message }}
      </awesome-error>
    </ng-container>

    <ng-container ngProjectAs="awesome-error">
      <ng-content select="awesome-error"></ng-content>
    </ng-container>
  </div>

  <div *ngIf="!showError" [@transitionMessages]="animationState">
    <awesome-hint *ngIf="hint">{{ hint }}</awesome-hint>
  </div>
</div>
