<form #form="ngForm" (ngSubmit)="submit(model)">

  <button type="button" (click)="required = !required">Toggle Required</button>
  <button type="button" (click)="disabled = !disabled">Toggle Disabled</button>
  <button type="submit">Submit</button>
  <pre><code>Form is: {{ form.valid ? 'valid' : 'invalid' }}</code></pre>

  <pre><code>Required: {{ required }}</code></pre>
  <pre><code>Disabled: {{ disabled }}</code></pre>

  <div class="row">
    <div class="col">
      <awesome-form-widget
        label="Text"
        hint="Length between 5 and 10"
      >
        <input
          type="text"
          #input1="awesomeControl"
          awesomeControl
          name="text"
          [minlength]="5"
          [maxlength]="10"
          [(ngModel)]="model.text"
          [required]="required"
          [disabled]="disabled"
        />
        <awesome-error *ngIf="input1.hasError('maxlength')">Max Length Error</awesome-error>
      </awesome-form-widget>
    </div>
    <div class="col">
      <awesome-debug
        name="Text"
        [valueToPick]="'This is a set value'"
        [formField]="input1"
        [modelValue]="model.text"
      ></awesome-debug>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <awesome-form-widget
        label="Checkbox"
      >
        <label>
          <input
            type="checkbox"
            #input2="awesomeControl"
            awesomeControl
            name="checkbox"
            [(ngModel)]="model.checkbox"
            [required]="required"
            [disabled]="disabled"
          />
          Check Me
        </label>
      </awesome-form-widget>
    </div>
    <div class="col">
      <awesome-debug
        name="Select"
        [valueToPick]="false"
        [formField]="input2"
        [modelValue]="model.checkbox"
      ></awesome-debug>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <awesome-form-widget
        label="Select"
        hint="Select favorite color"
        [errorMessages]="{ required: 'Override require message!' }"
      >
        <awesome-select
          name="select"
          [required]="required"
          [disabled]="disabled"
          [(ngModel)]="model.select"
          #input3="awesomeControl"
        >
          <awesome-option *ngFor="let opt of options" [value]="opt">{{ opt.label }}</awesome-option>
        </awesome-select>
      </awesome-form-widget>
    </div>
    <div class="col">
      <awesome-debug
        name="Select"
        [valueToPick]="options[1]"
        [formField]="input3"
        [modelValue]="model.select"
      ></awesome-debug>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <awesome-form-widget
        label="Radio"
      >
        <awesome-radio
          name="radio"
          [required]="required"
          [disabled]="disabled"
          [(ngModel)]="model.radio"
          #input4="awesomeControl"
        >
          <awesome-radio-option *ngFor="let opt of options" [value]="opt">{{ opt.label }}</awesome-radio-option>
        </awesome-radio>
      </awesome-form-widget>
    </div>
    <div class="col">
      <awesome-debug
        name="Radio"
        [valueToPick]="options[2]"
        [formField]="input4"
        [modelValue]="model.radio"
      ></awesome-debug>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <awesome-form-widget
        label="Custom Text"
      >
        <awesome-text
          name="customText"
          [minlength]="5"
          [maxlength]="10"
          [required]="required"
          [disabled]="disabled"
          [(ngModel)]="model.customText"
          #input5="awesomeControl"
        >
        </awesome-text>
      </awesome-form-widget>
    </div>
    <div class="col">
      <awesome-debug
        name="Custom Text"
        [valueToPick]="'Text is easy'"
        [formField]="input5"
        [modelValue]="model.customText"
      ></awesome-debug>
    </div>
  </div>

  <button type="submit">Submit</button>
  <pre><code>Form is: {{ form.valid ? 'valid' : 'invalid' }}</code></pre>
</form>
