<form (ngSubmit)="submit(text)">
  <awesome-form-group-text
    name="input"
    label="Enter Text"
    hint="Psst. Hint."
    [required]="required"
    [minlength]="5"
    [disabled]="disabled"
    [(ngModel)]="text"
    #input="ngModel"
    [errorMessages]="{ required: 'Required field!' }"
  ></awesome-form-group-text>

  <button type="submit">Submit</button>
</form>

<pre><code>{{ input.errors | json }}</code></pre>
<pre><code>{{ text | json }}</code></pre>


<pre><code>Touched: {{ input.touched | json }}</code></pre>
<pre><code>Dirty:   {{ input.dirty | json }}</code></pre>
<pre><code>Valid:   {{ input.valid | json }}</code></pre>


<button (click)="required = !required">Toggle Required</button>
<button (click)="disabled = !disabled">Toggle Disabled</button>
<button (click)="text = 'Cameron'">Set to 'Cameron'</button>

<pre><code>Required: {{ required }}</code></pre>
<pre><code>Disabled: {{ disabled }}</code></pre>
