@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  &.dark-backdrop {
    background: #000;
    opacity: 0.85 !important;
  }
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: 'Open Sans', sans-serif;
}

input[type="text"] {
  outline: 0 none;
  padding: 8px;
  border: 1px solid #ddd;

  &:focus {
    border-color: #bbb;
  }
}

.awesome-error-state [awesomeControl] {
  &, &:focus {
    border-color: red;
  }
}
