@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: 'Open Sans', sans-serif;
}

input[type="text"] {
  outline: 0 none;
  padding: 8px;
  border: 1px solid #ddd;

  &:focus {
    border-color: #bbb;
  }
}

.awesome-error-state [awesomeFormField] {
  &, &:focus {
    border-color: red;
  }
}
