<fieldset>
  <legend>{{ name }} Debug</legend>

  <button type="button" (click)="pickValue()">Set to <code>{{ valueToPickStr }}</code></button>

  <pre><code>Touched: {{ control.touched | json }}</code></pre>
  <pre><code>Dirty:   {{ control.dirty | json }}</code></pre>
  <pre><code>Valid:   {{ control.valid | json }}</code></pre>
  <pre><code>Focused: {{ control.focused | json }}</code></pre>
  <pre><code>Submit:  {{ control.form?.submitted | json }}</code></pre>
  <pre><code>Empty:   {{ control.empty | json }}</code></pre>

  <pre><code>Value:   {{ control.value | json }}</code></pre>
  <pre><code>Model:   {{ modelValue | json }}</code></pre>
  <pre><code>Prev:    {{ control.previousValue | json }}</code></pre>

  <pre><code>Errors:  {{ control.errors | json }}</code></pre>
</fieldset>


